*
{
    border: 0;
    padding: 0;
    
}
body
{
    font-family: 'Alice', serif;
    
}
.logo
{
    font-family: 'Berkshire Swash', cursive;
    font-size: 20px;
    color: #fff;
}
.logo:hover
{
    color: #fff;
}
.logo:link
{
    text-decoration: none;    
}
.logo2
{
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    color: #fff;
}

.naveg
{
    float: right;
}

#firts
{
    height: 450px;
    background-image: url("../img/fondo.png");
    color: #fff;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.navegacion
{
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5rem;
    /*word-spacing: 35px;*/
    background-color: transparent;
    border:0px;
    
    
}
a{
    color: #fff;    
}
a:link
{
    text-decoration: none;
}
.navegaciontwo
{
    float: right
}

#two
{
    margin-top:15px;
    
}
.informacion
{
    margin-top: 90px;
    text-align: right;
}

.redes li
{
    list-style: none;
       
}

.imagenes img
{
    position: center;
}
img:hover
{
    height: 230px;
    
    
}

